.App {
  text-align: center;
}

.Kauppaan {

  text-align: center;
  position: fixed;
  top: 10%;
  left: 20%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
}

.Ostoskori {

    position: fixed;
    top: 0%;
    width: 100%;
    border: 1px solid blue;
    background-color: rgb(72, 55, 219);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
  }

.Ostoskori2 {
  
  background-color: rgb(72, 55, 219);
  cursor: pointer;
  }

.lisaa2 {
  border-style: groove;
  cursor: pointer;
}
.kuvaus {
  cursor: pointer;
}
.lisaa1 {
  font-size: 30px;
  cursor: pointer;
}

.Taulukko {
  margin: 0 auto;            
}

.ShowOstoskori {
  padding: 30px;
  font-size: 30px;
}

.Kuva {
  max-width: 300px;
  max-height: 200px;
  
}



@media only screen and (max-width:420px){
    
body{
      height: 80%;
      width: 80%;
}
.Kuva {
  max-width: 100px;
  max-height: 100px;
  
}

.Ostoskori {

  position: fixed;
  top: 0%;
  width: 100%;
  border: 1px solid blue;
  background-color: rgb(72, 55, 219);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 10px;
}

.lisaa1 {
  font-size: 15px;
  cursor: pointer;
}
.Kuvaus{
  font-size: 8px;
}

.ShowOstoskori {
  padding: 20px;
  font-size: 20px;
}


}